
<div id="content-switcher">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to 'Live Bets', '#', class: 'content-link', data: { target: 'live-bets' } %>
    </li>
    <li class="nav-item">
      <%= link_to 'Messages', '#', class: 'content-link', data: { target: 'messages' } %>
    </li>
  </ul>

  
    <!-- Content will be loaded here -->
  </div>
