<div id="bets-container">
  <h5>Your Bets</h5>
  <table  class="table table-bordered" id="bets-table">
    <thead>
      <tr>
        <th scope="col">Bet ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Outcome</th>
      </tr>
    </thead>
    <tbody>
      <!-- Table rows for bets will be added here dynamically -->
    </tbody>
  </table>
</div>
