 <!-- Burst container -->
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <p class="card-title">Bets</p>
        </div>
        <div class="card-body">
            <div id="table-container">
                <table  class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Burst</th>
                            <th>Hash</th>
                            <th>Game Id</th>
                            <th>Stake</th>
                            <th>Cash Out</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Table rows will be added dynamically here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>